# .pre-commit-config.yaml

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: GolangCI-Lint Check
        entry: golangci-lint
        language: system
        types: [go]
        args: [run, --fix=false, --timeout=5m]