# .pre-commit-config.yaml

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: GolangCI-Lint Check
        entry: golangci-lint
        language: system
        types: [go]
        files: ^$
        args: [run, --config=.golangci.yaml]